.kdev4
redes_centro.txt
FuzzyLogicEcology.kdev4
build*
Graph
Paper/FuzzyLogic.aux
Paper/FuzzyLogic.bbl
Paper/FuzzyLogic.blg
Paper/FuzzyLogic.log
Paper/FuzzyLogic.out
Paper/FuzzyLogic.synctex.gz
Paper/FuzzyLogic.tex.backup
old
